---
---

.media-body {
    text-align: left;
}

.cell {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.carousel-item {
    position: relative;
}

.carousel-img {
    position: relative;
}

#portrait {
    /* color: #1367a7;
color: rgb(34, 110, 147); */
    height: 158px;
}

.paperlo,
.paperhi-only {
    color: rgb(20, 68, 106);
}

.text_container h2:hover {
    cursor: pointer;
}

.paperhi-only,
.paperlo:hover {
    cursor: pointer;
}

#paper-show {
    color: rgb(0, 85, 170);
    font-size: 80%;
}

#paper-show span:hover {
    text-decoration: underline;
}

#header_img {
    position: absolute;
    top: 0px;
    right: 0px;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    text-align: center;
    display: flex;
    padding-top: 80px;
    padding-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 20%;
    top: 0;
    left:80%;
    bottom: auto;
    background-color: var(--msk-navy);
    opacity: 1;
}

.carousel-img {
    display: flex;
    height: 400px;
    width: 80%;
}

.carousel-control-prev:hover
{
filter: invert(100%);
}

.carousel-control-next:hover {
filter: invert(100%);
}   

#running-bar {position: relative;border:0px solid #0ff;width:100%; height: 180px;margin:auto;overflow: hidden;
}
#running-bar ul{position: absolute;left: 0;}
#running-bar ul li{list-style: none;width:200px;float: left;padding: 10px;height: 160px;}
#running-bar ul li img{width:100%;height:100%;object-fit:cover}

.paper-title {
    color: black;
    text-decoration: none;
}

.papericon {
    width: 160px;
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: auto;
}

.media {
    margin-bottom: 15px;
    margin-left: 10px;
}

.media-body {
    margin-top: 5px;
    padding-left: 20px;
}

.publication {
    margin-bottom: 15px;
}

.publication.show {
    display: flex;
}

.papers-selected .book-chapters {
    display: none;
}

.papers-selected #show-selected {
    color: black;
    text-decoration: underline;
}

.papers-selected .paperhi {
    display: flex;
}

.papers-selected .paper-year {
    display: none;
}

.papers-by-date #show-by-date {
    color: black;
    text-decoration: underline;
}

.papers-by-date .paper-selected {
    display: none;
}

.papers-by-date .book-chapters {
    display: none;
}

.book-chapters #book-chapters {
    color: black;
    text-decoration: underline;
}

.book-chapters .paper-selected,
.book-chapters .paper-year,
.book-chapters .publication {
    display: none;
}

.book-chapters .chapter {
    display: flex;
}
