<h2 id="gallery"><i class="fa-solid fa-images"></i>&nbsp;&nbsp;Group Gallery</h2>
<div class="gallery">
  <div class="photo-container">
    <div class="image-box">
      <img id="gallery-image" src="./images/gallery/gallery1.png" alt="Photo">
      <div class="overlay"></div>
    </div>
    <button class="prev-button">&lt;</button>
    <button class="next-button">&gt;</button>
    <div class="caption">
      <p id="caption-text">Gallery 1</p>
    </div>
  </div>
</div>
<div class="preview-bar">
  <div class="preview-images"></div>
</div>

<script src="_scripts/gallery.js"></script>