<link rel="stylesheet" href="./_styles/flickity.css" media="screen">
<script src="_scripts/gallery.js"></script>
<script src="_scripts/flickity.pkgd.min.js"></script>

<h2 id="gallery">Group Gallery</h2>
<div class="carousel-container">
  <div class="carousel carousel-main js-flickity" data-flickity='{ "selectedAttraction": 0.05,
    "friction": 0.5, "wrapAround": true, "autoPlay": 3000, "pauseAutoPlayOnHover": false, "pageDots": false}' >
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery1.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery2.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery3.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery4.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery5.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery6.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery7.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery8.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery9.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery10.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery11.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery12.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery13.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery14.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery15.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery16.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="./images/gallery/gallery17.png"  />
    </div>
  </div>
  <br>
  <div class="carousel carousel-nav"
  data-flickity='{ "asNavFor": ".carousel-main", "wrapAround": true, "pageDots": false, "prevNextButtons": false}'>
    <div class="carousel-cell is-nav-selected">
      <img src="./images/gallery/gallery1.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery2.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery3.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery4.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery5.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery6.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery7.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery8.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery9.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery10.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery11.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery12.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery13.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery14.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery15.png" />
    </div><div class="carousel-cell">
      <img src="./images/gallery/gallery16.png" />
    </div>
    <div class="carousel-cell">
      <img src="./images/gallery/gallery17.png"  />
    </div>
  </div>
</div>