<h2>Pricipla Investigator</h2>
<div class="professor-container">
    <div class="professor">
        <div>
            <img src="../images/member_photo/QiDou.jpeg">
        </div>
        <div>                   
            <a href="https://carrend.github.io/" target="_blank">Qi Dou</a><br>
            <intro> Assistant Professor
                <br>Department of Computer Science and Engineering (<em>co-affiliated with</em>) T Stone Robotics Institute
                <br>The Chinese University of Hong Kong (CUHK)
                <br> Office: Rm 1014, Ho Sin-Hang Engineering Building, CUHK, Shatin, HK
            </intro>  
        </div>
    </div>
    <br> Email: <a href="mailto:qidou@cuhk.edu.hk" target="_blank">
        <img src="../images/email_new.png" height="18px" style="margin-bottom:-2px"></a>
    <br>
    <a href="https://scholar.google.co.uk/citations?uxser=iHh7IJQAAAAJ&hl=en" target="_blank">
    <img src="../images/google_scholar.png" height="30px" style="margin-bottom:-3px"></a>
    <a href="https://github.com/carrenD" target="_blank">
    <img src="../images/github_s.jpg" height="30px" style="margin-bottom:-3px"></a>
    <a href="https://orcid.org/0000-0002-3416-9950" target="_blank">
    <img src="../images/orcid.jpg" height="30px" style="margin-bottom:-3px"></a>
    <a href="https://twitter.com/QiDou_" target="_blank">
    <img src="../images/twitter.png" height="30px" style="margin-bottom:-3px"></a>
    <a href="https://www.researchgate.net/profile/Qi_Dou2" target="_blank">
    <img src="../images/rg.png" height="30px" style="margin-bottom:-3px"></a>
    <a href="https://www.linkedin.com/in/qi-dou/" target="_blank">
    <img src="../images/LinkedIn_s.png" height="30px" style="margin-bottom:-3px"></a>            
</div>

<br><br>
<h2>Current Members</h2>
<div class="student-container">
    <div class="student">
        <div>
            <img src="../images/member_photo/KaiChen.jpg">
        </div>
        <div>                   
            <a href="https://ck-kai.github.io/" target="_blank">Kai Chen</a><br>
            <intro> Ph.D. student (2020 - ) <br>
                    B.E. WHU - M.S. WHU</intro>   
        </div>
    </div>

    <div class="student">
        <div>   
            <img src="../images/member_photo/MeiruiJiang.jpeg">
        </div>
        <div>
            <a href="https://meiruijiang.github.io/MeiruiJiang/" target="_blank">Meirui Jiang</a><br>
            <intro> Ph.D. student (2020 - )<br>
                    B.E. SDU <br>
                    HK PhD Fellowship (HKPFS)</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YonghaoLong.png">
        </div>
        <div>
            Yonghao Long<br> 
            <intro> Ph.D. student (2020 - )<br>
                    B.E. SCUT </intro>   
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/WenaoMa.jpg">
        </div>
        <div>
            Wenao Ma<br>
            <intro> Ph.D. student (2020 - )<br>
                    B.E. XMU - M.S. XMU <br>
                    (co-advise with Prof. Tiffany So)</intro>   
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YuehaoWang.png">
        </div>
        <div>
            <a href="https://yuehaolab.com/" target="_blank">Yuehao Wang</a><br>
            <intro> Ph.D. student (2021 - )<br>
                    B.E. ShanghaiTech <br></intro>
        </div>
    </div>


    <div class="student">
        <div>
            <img src="../images/member_photo/ZhaoWang_new.jpg">
        </div>
        <div>
            Zhao Wang<br>
            <intro> Ph.D. student (2021 - )<br>
                    B.E. ZJU</intro>
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/ShizhanGong.jpg">
        </div>
        <div>
            Shizhan Gong<br>
            <intro> Ph.D. student (2022 - )<br>
                    B.E. Tsinghua - M.Sc. NYU</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/ChengkunLi.jpg">
        </div>
        <div>
            <a href="https://chengkunli96.github.io/" target="_blank">Chengkun Li</a><br>
            <intro> Ph.D. student (2022 - )<br>
                    B.E. Beihang - M.Sc. UCL<br>
                    (co-advise with Prof. Jason Chan)</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/HongzhengYang.jpg">
        </div>
        <div>
            Hongzheng Yang<br>
            <intro> Ph.D. student (2022 - )<br>
                    B.E. Beihang</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YuanZhong.jpg">
        </div>
        <div>
            Yuan Zhong<br>
            <intro> Ph.D. student (2022 - )<br>
                    B.E. WHU </intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YueyaoChen.jpg">
        </div>
        <div>
            Yueyao Chen<br>
            <intro> Ph.D. student (2023 - )<br>
                    B.E. NEU - M.Sc. CUHK <br></intro>  
        </div>
    </div>
    
    <div class="student">
        <div>
            <img src="../images/member_photo/ZhengHan.jpg">
        </div>
        <div>
            Zheng Han<br>
            <intro> Ph.D. student (2023 - )<br>
                    B.E. XDU - M.S. XDU </intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YiyaoMa.jpg">
        </div>
        <div>
            Yiyao Ma<br>
            <intro> Ph.D. student (2023 - )<br>
                    B.E. Beihang</intro>  
        </div>
    </div>

    
    <!--
    <div class="student">
        <div>
            <img src="../images/member_photo/ChengChen.jpeg">
        </div>
        <div>
            <a href="https://cchen-cc.github.io/" target="_blank">Dr. Cheng Chen</a><br>
            <intro> Post-doc fellow <br>
                    Ph.D. CUHK (2021)</intro> 
        </div>
    </div>
    -->

    <div class="student">
    <div>
        <img src="../images/member_photo/JianfengCao.jpg">
        </div>
        <div>
            Dr. Jianfeng Cao<br>
            <intro> Post-doc fellow <br>
                    Ph.D. CityU (2021)</intro> 
        </div>
    </div>
    
    <div class="student">
    <div>
        <img src="../images/member_photo/BingchenGong.png">
        </div>
        <div>
            Dr. Bingchen Gong<br>
            <intro> Post-doc fellow <br>
                    Ph.D. HKU (2021)</intro> 
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/XitianZhang.jpg">
        </div>
        <div>
            Xitain Zhang<br>
            <intro> Post-doc fellow <br>
                Ph.D. CityU (2023)</intro>  
        </div>
    </div>
    
    <div class="student">
        <div>
            <img src="../images/member_photo/ManxiLin.jpg">
        </div>
        <div>
            Manxi Lin<br>
            <intro> Exchange Ph.D. Student <br>
                    B.E. HUST - M.S. DTU - Ph.D. DTU</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YongtaoZhang.png">
        </div>
        <div>
            Yongtao Zhang<br>
            <intro> Exchange Ph.D. Student<br>
                    Ph.D. SZU <br></intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/WangWei.png">
        </div>
        <div>
            Wang Wei<br>
            <intro> Research assistant <br>
                    B.E. CUHK</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YuqiGong.png">
        </div>
        <div>
            Yuqi Gong<br>
            <intro> Research associate<br>
                    B.E. FNU - M.Sc. CUHK <br><br></intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/YuqiTong.png">
        </div>
        <div>
            Yuqi Tong<br>
            <intro> Research assistant <br>
                    B.E. Tongji Univ.</intro>  
        </div>
    </div>
    
    <div class="student">
        <div>
            <img src="../images/member_photo/YuJianxun.png">
        </div>
        <div>
            Jianxun Yu<br>
            <intro> Research assistant <br>
                    B.E. UJN - M.S. PolyU</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/AnjieLe.jpg">
        </div>
        <div>
            Anjie Le<br>
            <intro> Research assistant <br>
                    B.A. Cambridge</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/AnranLin.jpeg">
        </div>
        <div>
            Anran Lin<br>
            <intro> Research assistant <br>
                    B.E. SCUT - M.S. CUHKSZ
                    </intro>  
        </div>
    </div>
    
    <div class="student">
        <div>
            <img src="../images/member_photo/JiaweiFu.jpg">
        </div>
        <div>
            Jiawei Fu<br>
            <intro> Research assistant <br>
                    B.E. NWPU - M.S. XJTU</intro>  
        </div>
    </div>
    
    <div class="student">
        <div>
            <img src="../images/member_photo/QixinHu.jpg">
        </div>
        <div>
            Qixin Hu<br>
            <intro> Research assistant <br>
                B.S. HUST - M.S. HUST</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/KejianShi.png">
        </div>
        <div>
            Kejian Shi<br>
            <intro> Research assistant <br>
                B.E. UCL - M.S. ICL</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/QiyaoXue.JPG">
        </div>
        <div>
            Qiyao Xue<br>
            <intro> Research assistant <br>
                B.E. PolyU</intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/FengyueGuo.jpg">
        </div>
        <div>
            FengyueGuo<br>
            <intro> Research assistant <br>
                B.E. UJN - M.S. SDU </intro>  
        </div>
    </div>

    <div class="student">
        <div>
            <img src="../images/member_photo/LeiSong.jpg">
        </div>
        <div>
            Lei Song<br>
            <intro> Research assistant <br>
                B.E. ZJU</intro>  
        </div>
    </div>

</div>
<br>


<div class="alumnus">
    <h2>Alumnus</h2>
        <p> PhD students: </p>
        <li> Quande Liu (2022 PhD, co-advise with Prof. Heng PA), CUHK Young Scholars Thesis Award 2022, Current: Tencent </li>
        <li> Cheng Chen (2021 PhD, co-advise with Prof. Heng PA), Current: Post-doc at HMS</li>
        <li> Xiaojie Gao (2021 PhD, co-advise with Prof. Heng PA), Current: Post-doc at Hong Kong Centre for Logistics Robotics</li>
        <li> Xueying Shi (2021 PhD, co-advise with Prof. Heng PA), Current: Huawei </li>
        <br>
        <p> Interns and RAs: </p>
        <li> Jiaqi Liu (2023 RA), B.E. at SJTU - M.S. at SJTU - Ph.D. at U. of Trento -</li>
        <li> Yuliang Xiao (2023 RA), B.E. at Pitt & SCU - M.S. JHU - Ph.D. at U. of Toronto -</li>
        <li> Chong Tong Chow (2022 summer intern), B.E. at PKU -</li> 
        <li> Qimei Wang (2022 summer intern), B.E. at HUST -</li>
        <li> Weiliang Zhao (2022 summer intern), B.E. at BUAA -</li>
        <li> Luliang Zhong (2022 summer intern), B.E. at BUAA -</li>
        <li> Zhuoyang Zou (2022 RA), B.E. at CUHK - M.S at Northwestern University -</li>
        <li> Zihao Chen (2021 summer intern), B.E. at SJTU - Ph.D. at Duke (ECE) -</li>
        <li> Penghui Du (2021 summer intern), B.E. at BUAA - M.S. at BUAA (AI) -</li>
        <li> Yunshuang Li (2021 summer intern), B.E. at ZJU - M.Se. at Upenn (Robotics) - </li>
        <li> Zirui Wang (2021 summer intern), B.E. at BUAA - M.Sc. at CUHK (IE) - </li>
        <li> Yedi Zhang (2021 summer intern), B.E. at HUST - Ph.D. at UCL (ML) - </li>
        <li> Junming Chen (2020 RA), B.E. at WHU - M.Phil. at HKUST (CSE) - Ph.D. at HKUST (CSE) - </li>
        <li> Xiaoyang Zou (2020 summer intern), B.E. at HUST - Ph.D. at SJTU (Institute of Medical Robotics) - </li>
        <br>
        <i>(alphabetical order)</i>
</div>