
<div class="requirements">
    <h2>Openings (all year round)</h2>
    <strong><p style="color:rgba(47, 138, 235, 0.795)">Postdoctoral Fellow / Research Associate</p></strong>
    <p>Multiple positions are open to apply for being involved in projects on machine learning for medical image analysis. Specific responsibilities and requirements are as follows:</p>
    <ol>
        <li>Coordinate a multidisciplinary team of engineering researchers and clinical collaborators for the development of smart medical image diagnosis, detection, segmentation, prognosis, and clinical decision-making systems.</li>
        <li>Develop cutting-edge ML methods in terms of model generalizability, robustness, interpretability, and human-in-the-loop test-time mechanisms for smart healthcare systems.</li>
        <li>Generate high-quality papers to be published in top-tier conferences and high-impact journals.</li>
        <li>Require a Ph.D. with a good publication record in medical imaging, computer vision, AI/ML, statistics, or other related fields.</li>
        <li>Experience in multi-modal learning, image segmentation, causality, and/or data-efficient learning are preferred.</li>
        <li>Experience in processing medical endoscopy/MRI/CT/Ultrasound images is preferred.</li>
        <li>Employment contract can be flexible and up to 3 years.</li>
    </ol>
    
    <p>Two positions are open to apply for being involved in a project on robotic surgery intelligence. Specific responsibilities and requirements are as follows:</p>
    <ol>
        <li>Work together with experts of computer scientists, surgeons, roboticists to develop a novel AI+XR system to change the way of robotic surgery education, in terms of how novices perceive, visualize and interact with surgical robots during training.</li>
        <li>Develop image-based robotic surgery perception, stereo reconstruction, reinforcement learning and planning techniques, and integrate them into visualization HMD, haptic devices and/or robotic platforms for evaluation and demos.</li>
        <li>Generate high-quality papers to be published in top-tier conferences and high-impact journals.</li>
        <li>Require a Ph.D. with a good publication record in medical imaging, computer graphics, human-computer interaction, surgical robotics, or other related fields.</li>
        <li>Experience in augmented reality, virtual reality, simulation, visualization system integration and development are preferred.</li>
        <li>Experience working with Unity, Bullet, SOFA, Omniverse, OpenGL, TCP, UDP Socket and other relevant tools are preferred.</li>
        <li>Employment contract can be flexible and up to 3 years.</li>
    </ol>
    
    <p>Two positions are open to apply for being involved in a project on robotic vision and learning-based automation.</p>
    <p>  Specific responsibilities and requirements are as follows:</p>
    <ol>
        <li>Work together with local and international experts of computer scientists and roboticists to explore learning-based robotic perception and automation for applications including but not limited to surgical robots.</li>
        <li>Explore solutions for defined novel research problems and create cool demos.</li>
        <li>Generate high-quality papers to be published in top-tier conferences and high-impact journals.</li>
        <li>Require a Ph.D. with a good publication record in robotic vision and learning, mechanical and automation engineering, or other related fields.</li>
        <li>Experience in RL, imitation learning, sim2real transfer, 6D pose estimation, path planning are preferred.</li>
        <li>Employment contract can be flexible and up to 3 years.</li>
    </ol>
    
    <strong><p style="color:rgba(47, 138, 235, 0.795)">Research Assistant</p></strong>
        <p>Multiple RA positions are available for all the above projects. Specific responsibilities and requirements are as follows:</p>
        <ol>
        <li>Work together with senior team members on research and development projects on AI for medical imaging and robotics.</li>
        <li>Collect and process relevant data, deploy AI algorithms for inference, integrate systems for testing and demo.</li>
        <li>Generate high-quality papers to be published in top-tier conferences and high-impact journals.</li>
        <li>Require excellent communication skills and proficient in at least one programming language.</li>
        <li>Employment contract can be flexible and up to 2 years.</li>
    </ol>
</div>