<h2 id="news">News</h2>
<div class="news_block">
    <ul>
        <li>[09/2023] One paper accepted to Nature Communications.</li>
        <li>[09/2023] One paper accepted to NeurIPS 2023.</li>
        <li>[08/2023] One paper accepted to SIGGRAPH Asia 2023.</li>
        <li>[08/2023] One paper accepted to ICCV 2023.</li>
        <li>[07/2023] One paper accepted to ACM MM 2023.</li>
        <li>[06/2023] Eight papers accepted to MICCAI 2023 on topics of surgical video, FL, robustness, and image-tabular data.</li>
        <li>[06/2023] Three papers accepted to IROS 2023 on topics of SurRoL and multi-sensory perception.</li>
        <li>[05/2023] One paper accepted to IEEE RA-L, our new version of <a href="https://med-air.github.io/SurRoL/">SurRoL</a> for human-in-the-loop embodied intelligence on <br> surgical robot learning is released.</li>
        <li>[03/2023] Three papers accepted to CVPR 2023 on topics of FL, video processing and medical images.</li>
        <li>[02/2023] Two papers accepted to IPMI 2023 on topics of label-efficient disease quantification and model fairness.</li>
        <li>[01/2023] Our ICRA'23 workshop on "<a href="https://sites.google.com/view/icra2023workshop-surgicalrobot/home" target="_blank">New Evolutions in Surgical Robotics: Embracing Multimodal Imaging Guidance, Intelligence, and Bio-inspired Mechanisms</a>" call for papers!</li>
        <li>[01/2023] Four papers accepted to ICRA'23 on topics of surgical robot learning, stereo image perception and smart grasping.</li>
        <li>[12/2022] Our CVPR Medical Computer Vision (<a href="" target="_blank">CVPR-MCV</a>) workshop will continue in CVPR'23.</li>
        <li>[12/2022] Paper (led by Spyridon Bakas from UPenn) on real-world large-scale FL on medical imaging (71 centers worldwide, CUHK is the only participant in China) is accepted to Nature Communications.</li>
        <li>[11/2022] 2022 World's Top 2% Scientists by Stanford University (in category Artificial Intelligence & Image Processing).</li>
        <!--
        <li>[07/2022] Our workshop of <a href="https://sites.google.com/view/med-neurips-2022" target="_blank">MedNeurIPS</a> will continue this year at NeurIPS'22.
        <li>[07/2022] Two papers accepted to ECCV'22 on topics of robotic vision and domain generalization.
        <li>[07/2022] Our paper on dynamic test-time adaptation of cross-domain medical images accepted to IEEE TMI.
        <li>[06/2022] Seven papers accepted (5 early acc) to MICCAI'22 on topics of robotic surgery, FL, adaptation, image reconstruction.
        <li>[05/2022] Four papers on robotic intelligence accepted to RA-L/IROS.
        <li>[05/2022] Our 1st workshop on Medical Computer Vision at ECCV 2022 (<a href="https://mcv-workshop.github.io/" target="_blank">ECCV-MCV</a>) hello world.
        <li>[05/2022] Our CVPR Medical Computer Vision (<a href="https://sites.google.com/view/cvprmcv22" target="_blank">CVPR-MCV</a>) workshop has a confirmed list of fantastic speakers.
        <li>[05/2022] Our MICCAI Joint Workshop on 16th AE-CAI, 9th CARE and 5th OR2.0 (<a href="https://workshops.ap-lab.ca/aecai2022/" target="_blank">AE-CAI | CARE | OR 2.0</a>) call for papers.
        <li>[05/2022] Our 4th MICCAI workshop on Domain Adaptation and Representation Transfer (<a href="https://sites.google.com/view/dart2022/home" target="_blank">DART</a>) call for papers. 
        <li>[04/2022] One paper on image-based intelligent robotic laparoscope field-of-view control accepted to IEEE RA-L.
        <li>[03/2022] One paper on medical imaging accepted to CVPR'22.
        <li>[02/2022] Paper on AI for medical microrobotics accepted to Nature Machine Intelligence.
        <li>[02/2022] Three papers on smart robotic perception accepted to ICRA'22.
        <li>[02/2022] Paper on the concept of AI+AR for robotic surgical education accepted to ISMR'22.
        <li>[01/2022] Paper on unsupervised federated learning accepted to ICLR'22.
        <li>[01/2022] Honored to give a talk on <a href="https://sites.google.com/view/ieee-biip-webinars/" target="_blank"> Image-based Robotic Surgery Intelligence</a> for IEEE EMBS Webinar Series.
            [<a href="https://rensselaer.webex.com/recordingservice/sites/rensselaer/recording/e49948e05770103aa7f70050568f95d3/playback" target="_blank">video</a>]
        <li>[01/2022] Paper on rapid model transfer for medical images with iterative human-in-the-loop accepted to ISBI'22.
        <li>[01/2022] One paper accepted to IEEE TMI.
        <li>[12/2021] Two papers accepted to AAAI'22.
        <li>[12/2021] Paper on brain CT AI model in collaboration with HK Hospital Authority AI Lab accepted to ECR'22.
        <li>[10/2021] One paper accepted to IEEE TMI.
        <li>[09/2021] We won the Champion of <a href="https://fets-ai.github.io/Challenge/" target="_blank"> Federated Tumor Segmentation Challenge (FeTS) </a> at MICCAI'21.
        <li>[09/2021] We won the 1st Place in <a href="https://www.synapse.org/#!Synapse:syn25147789" target="_blank"> PETRAW Challenge on Surgical Workflow Recognition </a> (kinematics track) at MICCAI'21.
        <li>[08/2021] Three papers accepted to Medical Image Analysis.
        <li>[07/2021] One paper accepted to ICCV'21 with oral (rate 3%).
        <li>[07/2021] Four papers accepted to IROS 2021.
        <li>[06/2021] My research is featured at <a href="https://cuhk.edu.hk/english/features/dou-qi.html" target="_blank"> CUHK Homepage </a>. 
        <li>[06/2021] Our <a href="https://sites.google.com/view/cvprmcv21" target="_blank"> CVPR Medcial Computer Vision Workshop </a> is featured in <a href="https://www.rsipvision.com/CVPR2021-Monday/16/" target="_blank"> CVPR Daily </a>.
        <li>[06/2021] Four papers accepted to MICCAI 2021.
        <li>[06/2021] Our TBME paper received 2nd Place in 2021 IEEE Engineering in Medicine and Biology Prize Paper Award.
        <li>[06/2021] Our paper on robotic visual and kinematics graph leraning won <a href="https://www.cpr.cuhk.edu.hk/tc/press/cuhk-engineering-research-team-wins-ieee-icra-2021-best-paper-award-in-medical-robotics/" target="_blank"> ICRA 2021 Best Paper Award in Medical Robotics</a>.
        <li>[04/2021] One paper accepted to IEEE TMI.
        <li>[03/2021] One paper accepted to CVPR 2021.
        <li>[03/2021] Four papers accepted to ICRA 2021.
        <li>[02/2021] Our paper on federated learning for COVID-19 CT with multi-national validation is accepted to npj Digital Medicine.
        <li>[02/2021] Our paper on future scene prediction for robotic surgery is accepted to IPMI 2021 with oral.
        <li>[01/2021] Our FedBN paper of federated learning on non-iid features is accepted to ICLR 2021. -->
    </ul>
</div>

<h2 id="news">Selected Awards</h2>
<div class="award_block">
    <ul>
        <li> NSFC Excellent Young Scientists Fund (Hong Kong & Macau), 2023.</li>
        <li> IEEE Engineering in Medicine and Biology Society (EMBS) Early Career Award, 2023.</li>
        <li> 国家教育部高等学校科学研究优秀成果奖(科学技术), 自然科学二等奖 (排名: 3/5), 2022.</li>
        <li> MICCAI Young Scientist Publication Award, 2022. (last author)</li>
        <li> IEEE Trans. on Medical Imaging Distinguished Reviewer, Platinum Level, 2022.</li>
        <li> CUHK Department Exemplary Teaching Award, 2022.</li>
        <li> IEEE ICRA Best Paper Award in Medical Robotics, 2021. (last author)</li>
        <li> IEEE EMBS Prize Paper Award 2nd Place, Trans. on Biomedical Engineering, 2021. (first author)</li>
        <li> MICCAI Young Scientist Publication Impact Paper Award Finalist, 2021. (first author)</li>
        <li> 1st Prize of IJCARS-MICCAI Best Paper Award, 2021. (corresponding author)</li>
        <li> IEEE Trans. on Medical Imaging Distinguished Reviewer, Gold Level, 2021.</li>
        <li> Hong Kong Institution of Science Young Scientist Award in Engineering Science, 2018.</li>
        <li> CUHK Faculty Outstanding Thesis Award, 2018. </li>
        <li> Best Paper Award of Elsevier Medical Image Analysis-MICCAI, 2017. (first author)</li>
    </ul>
</div>



<h2 id="news">Teaching</h2>
<div class="teaching_block">
    <ul>
        <li> Fall2023: CSCI3230 Fundamentals of Artificial Intelligence (with Elite-Mirror ESTR 3108) <a href="https://www.cse.cuhk.edu.hk/~qdou/csci_3230" target="_blank"> [course website] </a> </li>
        <li> Spring2023: BMEG3102 Bioinformatics <a href="https://www.cse.cuhk.edu.hk/~qdou/bmeg3102" target="_blank"> [course website] </a> </li>
        <li> Fall2022: CSCI3230 Fundamentals of Artificial Intelligence (with Elite-Mirror ESTR 3108)</li>
        <li> Spring2022: BMEG3102 Bioinformatics </li>
        <li> Fall2021: CSCI3230 Fundamentals of Artificial Intelligence (with Elite-Mirror ESTR 3108)</li>
        <li> Spring2021: BMEG5830 Medical Imaging (guest lecture)</li>
        <li> Spring2021: BMEG3102 Bioinformatics</li>
        <li> Guest lectures for: AIST1000, BMEG5830, BMEG3420</li>
    </ul>
</div>



<h2 id="news">Recent Services</h2>
<div class="services_block">
   <strong><p style="color: var(--primary)">&nbsp;&nbsp;Conferences:</p></strong>
    <ul>
        <li> Area Chair, International Conference on Medical Image Computing and Computer Assisted Intervention (<a href="https://conferences.miccai.org/2023/en/" target="_blank">MICCAI</a>), 2023</li>
        <li> Program Co-Chair, International Conference on Information Processing in Computer Assisted Interventions (<a href="https://sites.google.com/view/ipcai-2023/home" target="_blank">IPCAI</a>), 2023.</li>
        <li> Program Co-Chair, International Conference on Medical Image Computing and Computer Assisted Intervention (<a href="https://conferences.miccai.org/2022/en/" target="_blank">MICCAI</a>), 2022</li>
        <li> Program Co-Chair, International Conference on Medical Imaging with Deep Learning (<a href="https://2022.midl.io/" target="_blank">MIDL</a>), 2022 & 2021.</li>
        <li> Founding Board Member, <a href="https://monai.io/about.html" target="_blank">MONAI Stream</a> Advisory Working Group, since 2022.</li>
        <li> Area Chair & Session Chair, Inter. Conference on Information Processing in Computer Assisted Interventions (<a href="https://sites.google.com/view/ipcai2022/home" target="_blank">IPCAI</a>), 2022.</li>
        <li> Organization Committee, NeurIPS Workshop on Medical Imaging (<a href="https://sites.google.com/view/med-neurips-2022" target="_blank">MedNeurIPS</a>), 2022, 2021 & 2020.</li>
        <li> Organization Committee, CVPR Workshop on Medical Computer Vision (<a href="https://sites.google.com/view/cvprmcv21" target="_blank">CVPR-MCV</a>), 2022 & 2021.</li>
        <li> Organization Committee, MICCAI Joint Workshop on Augmented Environments for Computer Assisted Interventions, Computer Assisted and Robotic Endoscopy, and Context-Aware Operating Theatres (<a href="https://workshops.ap-lab.ca/aecai2022/" target="_blank">AE-CAI | CARE | OR 2.0</a>), 2022 & 2021 & 2020.</li>
        <li> Organization Committee, MICCAI Workshop on Domain Adaptation and Representation Transfer (<a href="https://sites.google.com/view/dart2022/home" target="_blank">DART</a>), 2022 & 2021.</li>
        <li> Organization Committee, ECCV Workshop on Medical Computer Vision (<a href="https://mcv-workshop.github.io/" target="_blank">ECCV-MCV</a>), 2022.</li> 
    </ul>

    <strong><p style="color: var(--primary)">&nbsp;&nbsp;Journals:</p></strong>
    <ul>
        <li> Associate Editor, IEEE Transactions on Medical Imaging (<a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=42" target="_blank">TMI</a>), since 2023.</li>
        <li> Associate Editor, Medical Image Analysis (<a href="https://www.sciencedirect.com/journal/medical-image-analysis" target="_blank">MedIA</a>), since 2023.</li>
        <li> Associate Editor, Computer Assisted Surgery (<a href="https://www.tandfonline.com/journals/icsu21" target="_blank">CAS</a>), since 2021.</li>
        <li> Associate Editor, Journal of Machine Learning for Biomedical Imaging (<a href="https://www.melba-journal.org/" target="_blank">MELBA</a>), since 2021.</li>
    </ul>
</div>