<!-- third party styles -->
<!-- https://stylishthemes.github.io/Syntax-Themes/pygments/ -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- include all sass in styles folder -->
{% assign styles = site.pages
  | where_exp: "file", "file.url contains '/_styles'"
%}
{% for style in styles %}
  {% unless style.url contains ".map" %}
    <link
      href="{{ style.path | replace: ".scss", ".css" | relative_url }}"
      rel="stylesheet"
    />
  {% endunless %}
{% endfor %}

<!-- include all css in styles folder -->
{% assign styles = site.static_files
  | where_exp: "file",
    "file.path contains '/_styles' and file.path contains '.css'"
%}
{% for style in styles %}
  <link href="{{ style.path | relative_url }}" rel="stylesheet" />
{% endfor %}
