<div class="talk_container">
        <h2 id='talk'>Invited Talks</h2>
        <div class="talk_content">
            <ul><li><b>Image-based Robotic Surgery Intelligence.</b></li>
                at <a href="https://sites.google.com/view/ieee-biip-webinars/" target="_blank"> IEEE EMBS Webinar Series</a>, Frontiers of Biomedical Imaging and Analysis, Jan 2022. (invited by Prof. Pingkun Yan) <br>
                at BME Department, Shanghai Jiao Tong University, Nov 2022. (invited by Prof. Yao Guo) <br>
                <!-- <iframe width="550" height="315" autoplay="false" src="./talk_video/IEEE_EMBS_Webinar_Series.mp4"> -->
                <!-- </iframe> -->
                <video width="550" height="315" controls>
                    <source src="../talks_file/IEEE_EMBS_Webinar_Series.mp4#t=10" type="video/mp4">
                    <!-- <source src="/Users/jemary/Downloads/IEEE EMBS Webinar Series.mp4#t=10" type="video/mp4"> -->
                </video>

                <li><b>Federated Learning Techniques for Collaborative Development and Validation of AI Models on Medical Images.</b></li>
                at <a href="https://www.surgery.cuhk.edu.hk/events.asp" target="_blank"> SenseTime/CUHK Faculty of Medicine Joint Seminar Series in AI & Healthcare</a>, Jun 2022. (invited by Prof. Xin Wang) <br>
                <!--
                <video width="550" height="315" controls>
                    <source src="./talk_video/IEEE_EMBS_Webinar_Series.mp4#t=10" type="video/mp4">
                </video> 
                -->
                
                <li><b>dVRK-based Robotic Surgery Intelligence.</b></li>
                at dVRK Global PI Meeting - Community Presentations, Mar 2022. (invited by Prof. Peter Kazanzides) <br>

                <li><b>The Role of Artificial Intelligence in the Next-generation Robotic Surgery.</b></li>
                at CUHK EMedI Summit: Medicine for the Future, Nov 2021. (invited by Prof. Philip Chiu and Prof. Jason Chan) <br>
                at ETH Biomedical Image Computing Group, zoom seminar, Sep 2021. (invited by Dr. Tianfei Zhou) <br>
                at Tianjin University, zoom seminar, Sep 2021. (invited by Prof. Liang Wan) <br>
                at CCAI 2021 中国人工智能大会 - 智能医学专题论坛, Oct 2021. (invited by Prof. Lei Zhang) <br>
                at Global Healthcare Innovation Academy Hong Kong Local Event, Jun 2021. (invited by Prof. Jing Qin) <br>
                at University of Strasbourg, zoom seminar, Mar 2021. (invited by Prof. Nicolas Padoy) <br>
                
                <li><b>Learning Reliable AI Models on Real-world Medical Images: Robustness, Generalization and Privacy. </b></li>
                at Technical University Munich, zoom seminar, Jan 2021. (invited by Prof. Daniel Rueckert) <br>
                at Department of Health Technology & Informatics, HKPolyU, Feb 2021. (invited by Prof. Jing Cai)
                <li><b>Deep Model Generalization in Medical Image Segmentation <a href="../talks_file/MICS_qdou_0428_final.pdf">[slices]</a> </b></li>
                at MICS Webinar, Apr 2020. 
                <a href="https://www.bilibili.com/video/BV1fk4y167aa/">[video]</a> (in Chinese) <br>
                at VALSE Webinar, May 2020. <br>
                at CVPR Medical Computer Vision Workshop, June 2020. <a href="https://www.youtube.com/watch?v=ERgo8hNOY88&t=1s">[video]</a> (YouTube)<br>
                <iframe width="550" height="315"
                src="https://www.youtube.com/embed/ERgo8hNOY88">
                </iframe>
                <br>

                <li><b>Domain Generalization via Model-Agnostic Learning of Semantic Features </b> </li>
                at <a href="https://www.imperial.ac.uk/data-science/research/multidisciplinary-labs/machine-learning-lab/imperial--neurips-2019/" target="_blank">Imperial @ NeurIPS 2019</a>, Nov 2019.
                <br>

                <li><b>Surgical Visual Perception Towards AI-Powered Context-Aware Operating Theaters </b> </li>
                at MICCAI'19 Workshop of <a href="https://or20.univ-rennes1.fr/" target="_blank"> OR 2.0 Context-Aware  Operating Theaters</a>, Oct 2019. <br>
                at MediCIS, Universite de Rennes 1, France, Nov 2019.
                <br>

                <li><b>Multimodal Learning from Unpaired Medical Images for Adaptation and Integration </b> </li>
                at UCL Medical Image Computing Summer School (MedICSS), UK, Jul 2019. <br>
                at UCL/ICL Bio-Imaging Symposium, UK, May 2019. 
                <br>

                <li><b>Towards AI-Powered Healthcare: Automated Medical Image Computing via Deep Learning</b> </li>
                at Department of Computer Science, University of Birmingham, Nov 2019. <br>
                at Department of Computer Science, Sheffield University, May 2019. <br>
                at Department of Computer Science & Engineering, CUHK, Mar 2019. <br>
                at Department of Computer Science & Engineering, HKUST, Feb 2019. <br>
                at Hong Kong Instuition of Science Annual Meeting, HK, Dec 2018.
                <br>

                <li><b>Towards AI-Powered Healthcare: Automated Medical Image Computing via Deep Learning </b> </li>
                at Hong Kong Instuition of Science Annual Meeting, HK, Dec 2018.
                <br>

                <li><b>Analyzing High Dimensional Medical Images with Deep Learning</b> </li>
                at Hamlyn Centre for Robotic Surgery, Imperial College London, UK, Feb 2019. <br>
                at Smart Robotics and Artificial Intelligence Workshop organized by Signate Life Sciences, HK, Dec
                2018.</li>
                <br>

                <li><b>Deep Learning for AI-Powered Medical Image Analysis in Radiology</b> </li>
                at Hong Kong College of Radiologists (HKCR) Annual Scientific Meeting, HK, Nov 2018. <br>
                at Engineering Medical Innovation (EMedI) Summit, HK, Aug 2018.
                <br>

                <li><b>Deep Learning for Medical Image Computing</b> </li>
                at Department of Computing, HKPolyU, HK, Aug 2018.
                <br>

                <li><b>Medical Image Computing via Deep Learning - Detection and Segmentation </b> </li>
                at BioMedIA lab in Imperial College London, UK, July 2018. <br>
                at German Center for Neurodegenerative Diseases (DZNE), Germany, Jul 2018.
                <br>

                <li><b>Intelligent Medical Image Detection and Segmentaiton via 3D Deep Learning</b></li>
                at <a href="https://www.re-work.co/events/ai-in-healthcare-summit-hong-kong-2018">AI in Healthcare Summit </a>organized by ReWork, HK, June 2018.
                <br>

                <li><b>Deep Learning for Medical Image Analysis: Algorithms and Applications</b> </li>
                at Department of Clinical Oncology at Queen Mary Hospital HKU, HK, Apr 2018.
                <br>

                <li><b>3D Convolutional Networks for Computer-aided Lesion Detection in Medical Images</b> </li>
                at A*Star Institute of High Performance Computing, Singapore, May 2017.
                <br>

                <li><b>Automated Brain Lesion Detection in MRI Scans with Hierarchical Features </b></li>
                at Siemens Corporate Research, Princeton, US, Jun 2016.
            </ul>

</div>